<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>r/{{subreddit}}</title>

    <link type="text/css" rel="stylesheet" href="/main.css" />
</head>
<body>

<a href="#main">Skip to content</a>

{{{body}}}

{{#if reload}}
    <script src="/reload/reload.js"></script>
{{/if}}

</body>
</html>
