<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>r/{{subredditName}}</title>

    <link type="text/css" rel="stylesheet" href="/main.css" />
</head>
<body>

<a href="#main">Skip to content</a>

{{{body}}}

{{#if reload}}
    <script src="/reload/reload.js"></script>
{{/if}}

</body>
</html>
