@font-face {
    font-family: Barlow Condensed;
    font-style: normal
}

:root {
    --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-special: Barlow Condensed, Helvetica, sans-serif;
    --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

    --color-dark: #050505;
    --color-darkish: #404040;
    --color-lightish: #e6e6e6;
    --color-light: #fafafa;
    --color-mid: grey;

    --ratio: 1.4;

    --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));

    --s0: 1rem;

    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
    --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
    --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
    --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));

    --measure: 65ch;
    --line-height: var(--ratio);
    --line-height-small: calc(0.75 * var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);

    line-height: var(--ratio);
    font-size: calc(1em - 0.1em);
    font-family: var(--font-plain);
    background-color: var(--color-light);
    color: var(--color-dark)
}

*, :after, :before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0 solid var(--color-dark)
}

[hidden] {
    display: none
}

[hidden] + * {
    margin-top: 0 !important
}

footer, header, main, nav {
    display: block
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

[href="#main"] {
    display:inline-block;
    padding:var(--s-1);
    color:var(--color-light);
    background-color:var(--color-dark);
    position:absolute;
    top:-10rem
}
[href="#main"]:focus {
    position:absolute;
    z-index:1;
    top:0;
    outline:none
}

/********
    Component Main
 */
.c-main {
    padding: var(--s-1);
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    --space: var(--s0);
    max-width: 50rem;
    margin: 0 auto;
}

.c-main > * {
    margin: 0;
}

.c-main > * + * {
    margin-top: var(--space);
}

/**********
    Component: Post preview
    Summary of a post that's shown when viewing a whole subreddit
 */
.c-post-preview {
    border: var(--border-thin) solid black;
    padding: var(--border-thick);
}

.c-post-preview__user {
    font-size: calc(0.9em);
}

.c-post-preview__title{
   width: 100%;
}

.c-post-preview__title {
    display: inline-block;
}

video.c-post-preview__media {
    width: 100%;
    max-height: calc(30em);
}

img.c-post-preview__media {
    max-width: 100%;
    max-height: calc(30em);
    margin: 0 auto;
}

.c-post-preview__selftext {
    padding: var(--s-1) var(--s-2) var(--s-1) var(--s-2);
}

.c-post-preview__media-container {
    width: 100%;
    text-align: center;
}

/****
    Component: Flair
    Shows flags against users and psts
 */
.c-flair {
    display: inline-block;
    padding: initial var(--s-4) initial var(--s-4);
}

.c-flair--dark {
    background-color: #343536;
    color: #ffffff;
}

.c-flair--light {
    background-color: #996666;
    color: #000000;
}
