@font-face {
    font-family: Barlow Condensed;
    font-style: normal
}

:root {
    --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-special: Barlow Condensed, Helvetica, sans-serif;
    --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

    --color-dark: #050505;
    --color-darkish: #404040;
    --color-lightish: #e6e6e6;
    --color-light: #f0efee;
    --color-mid: grey;

    --lime-soap: #7bed9f;
    --ufo-green: #2ed573;
    --clear-chill: #1e90ff;
    --watermelon: #ff4757;
    --city-lights: #dfe4ea;
    --twinkle-blue: #ced6e0;
    --peace: #a4b0be;
    --bay-wharf: #747d8c;
    --prestige-blue: #2f3542;

    --ratio: 1.4;

    --s-6: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
    --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));

    --s0: 1rem;

    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
    --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
    --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
    --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));

    --measure: 65ch;
    --line-height: var(--ratio);
    --line-height-small: calc(0.75 * var(--ratio));
    --border-thin: var(--s-5);
    --border-thick: var(--s-2);

    line-height: var(--ratio);
    font-family: var(--font-plain);
    background-color: var(--color-light);
    //color: var(--color-dark)
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-light);
    margin: 0;
}

a {
    color: var(--clear-chill);
}

[hidden] {
    display: none
}

[hidden] + * {
    margin-top: 0 !important
}

footer, header, main, nav {
    display: block
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

[href="#main"] {
    display:inline-block;
    padding:var(--s-1);
    color:var(--color-light);
    background-color:var(--color-dark);
    position:absolute;
    top:-10rem
}
[href="#main"]:focus {
    position:absolute;
    z-index:1;
    top:0;
    outline:none
}

.c-container {
    padding: var(--s-1);
    max-width: 100rem;
    margin: 0 auto;
}


.md {
    // These rules are here to target the generated markdown. As we don't want to parse render it ourselves
    table {
        border: var(--s-5) solid var(--color-dark);
    }

    th, td {
        border: var(--s-6) solid var(--color-dark);
    }

    hr {
        background-color: var(--color-mid);
        height: var(--s-5);
    }

    p {
        margin: var(--s-1);
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@import "50-components/post";
@import "50-components/post-header";
@import "50-components/flair";
@import "50-components/comment";
